<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='mapapi.js') }}"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>



  </head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <body>
    <div id="map"></div>

              <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('location', function(msg) {
        console.log(msg);

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        var coord = {'lat': msg.lat, 'lng':msg.lng}
            var marker = new google.maps.Marker({
            position: coord,
            map: map,
            id: '001'
        }

        );

    });
        </script>

    <script>


{#      function initMap() {#}
{#        var myLatLng = {lat: -25.363, lng: 131.044};#}
{##}
{#        var map = new google.maps.Map(document.getElementById('map'), {#}
{#          zoom: 4,#}
{#          center: myLatLng#}
{#        });#}
{##}
{##}
{#        var marker = new google.maps.Marker({#}
{#          position: myLatLng,#}
{#          map: map,#}
{#          title: 'Hello World!'#}
{#        });#}
{#      }#}
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGI4r2WScjBuwyaeV9b-NFRSHcoqczNa4&callback=initMap">
    </script>
  </body>
</html>